@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  html:has(.drawer-auto-gutter .drawer-toggle:checked) {
    scrollbar-gutter: auto;
  }
}

.input {
  @apply rounded-md;
}

.card {
  @apply rounded-md;
}

.dropdown-content {
  @apply rounded-md;
}

.required::after {
  content: "*";
  color: red;
  margin-left: 0.25rem;
}
